#myLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mypageLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border: 0.7px solid black;
  width: 700px;

}

#m_title {
  border-bottom: 0.7px solid grey;
  width: 600px;
  height: 80px;
  font-size: 30px;
  font-weight: 500;
}

#title_layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80px;
  padding-top: 33px;
}

#m_info {
  border-bottom: 0.7px solid grey;
  width: 600px;
  height: 150px;
  display: flex;
  gap: 20px;
}

#info_title {
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
  height: 30px;
}

#info_image {
  align-items: center;
  justify-items: center;
  padding-top: 10px;

}

#info_image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;

}

#info_right {
  margin-left: 20px;
  padding-top: 70px;
}

#info_name {

  padding-bottom: 10px;
}

#favorite_container {
  /* background-color: aqua; */
  border-bottom: 0.7px solid grey;
  width: 600px;
  height: 300px;
  display: flex;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

#favorite_container_name {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
}

#favorite_list {
  display: flex;
}

.favorite_box {
  width: 170px;
  height: 200px;
  /* display: flex; */
  gap: 20px;
}

.favorite_poster {
  border: 0.7px solid grey;
  width: 130px;
  align-items: center;
  justify-items: center;
}

.favorite_poster_img {
  align-items: center;
  justify-items: center;
  width: 130px;
  height: 150px;
}

.favorite_contents {
  margin-top: auto;
  border: 0.7px solid grey;
  width: 130px;
  height: 57px;
}

.favorite_title {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 125px;
}

.favorite_run_date {
  font-size: 14px;
}

#post_container {
  /* background-color: aqua; */
  border-bottom: 0.7px solid grey;
  width: 600px;
  height: 170px;
  /* display: flex; */
  gap: 20px;
}

#post_name {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;
}

.my_post_title {
  width: 280;
  font-size: 17px;
  font-weight: 450;
  margin-top: 5px;
}

#reply_container {
  /* background-color: brown; */
  /* border-bottom: 0.7px solid grey; */
  width: 600px;
  height: 200px;
  /* display: flex; */
  gap: 20px;

}


#reply_name {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;
}

#m_reply {
  display: flex;
  padding-top: 4px;
}

#reply_origin {
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#reply_content {
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}