<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.mapper.FavoriteMapper">

	<select id="checkFavorite" resultType="com.tl.dto.FavoriteDTO">
		SELECT*FROM favorite where memberId=#{memberId} AND per_id=#{per_id}
	</select>

	<insert id="handleFavorite">
		INSERT INTO favorite (memberId,per_id,liked)
		VALUES(#{memberId},#{per_id},#{liked})
	</insert>
	
	<insert id="addFavorite">
	INSERT INTO favorite (memberId,per_id,liked)
			VALUES(#{memberId},#{per_id},1)
	</insert>
	
	<select id="getFavorite" resultType = "com.tl.dto.FavoriteDTO">
			SELECT*FROM favorite where memberId=#{memberId} AND liked=1
	</select>
</mapper>