<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.mapper.replyMapper">
	
	<!-- replyDto로 받아와서 넣기. Date는 DB에서 자체 업데이트 하는 방향도 검토.  -->
	<insert id="write">
	INSERT INTO tl_reply(originNo,memberId,content,Date)
	VALUES(#{originNo},#{memberId},#{content},#{Date})
	</insert>
	
	<!-- originNo로 reply 객체 받아서 조회하기.. ArrayList로 받아와야하나? 추후검토-->
	<select id = "read">
	SELECT*FROM tl_reply where originNo=#{oringinNo}
	</select>

	<!-- originNO,no 모두 만족하는 데이터 지우기. -->
	<delete id = "delete">
	DELETE FROM tl_reply where originNo = #{originNo}, no = #{no}
	</delete>
</mapper>