#nav_layout {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  color: black;
}


#top {
  background-color: rgb(249, 249, 249);
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1250px;
  color: black;

}

.top_text {
  /* color: red; */
  /* color: black; */
  color: rgb(152, 152, 152);

  font-weight: 400;
  text-decoration: none;
  text-align: end;
  font-size: 16px;
  background-color: rgb(249, 249, 249);
  border: 0
}

#body {
  background-color: white;
  height: 70px;
  align-items: flex-end;
  padding-left: 330px;
  gap: 60px;
  display: flex;
  color: black;
  margin-bottom: 20px;
}

#homepage_name {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  color: red;
  text-decoration: none;
}

#bodyMid {
  font-size: 30px;
  display: flex;
  align-content: flex-end;
  margin-left: 0px;
  gap: 25px;
  color: black;
}

.body_text {
  color: black;
  font-weight: 600;
  text-decoration: none;
}