.NavbarLayout {
  display: flex;
  flex-direction: column;
}

#nav {
  background-color: beige;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1200px;
}

#top {
  background-color: white;
  height: 200px;
  display: flex;
  /* 가로 정렬의 핵심 */
  align-items: center;
  /* 수직 가운데 정렬 */
  padding-left: 280px;
  gap: 60px;
}

#homepage_name {
  font-size: 50px;
  font-style: normal;
  color: red;
  text-decoration: none;
}

#top_center {
  font-size: 25px;
  display: flex;
  gap: 20px;
}

#top2 {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 280px;
  border-top: 0.5px solid rgb(201, 201, 201);
  border-bottom: 1px solid black;
}

#top_text {
  font-size: 15px;
  color: black;
  text-decoration: none;
}