# =========================
# Eclipse / STS 관련
# =========================

# Eclipse 워크스페이스 설정
.metadata/

# 프로젝트 설정
.project
.classpath
.settings/

# 빌드 산출물
bin/
target/

# 임시/백업 파일
*.tmp
*.bak
*.swp
*.log

# =========================
# 운영체제별 파일
# =========================
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# =========================
# Maven / Gradle
# =========================
# Maven 빌드 산출물
target/

# Gradle 빌드 산출물
.gradle/
build/

# =========================
# 기타
# =========================
# 로그, 임시파일 등
*.class
*.jar
*.war
*.ear