#myLayout {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

#story {
  margin-left: 200px;
  /* background-color: bisque; */
  height: 270px;
  width: 1000px;
}

#story_container {
  position: relative;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  overflow: hidden;

}

.story_box {
  width: 240px;
  height: 190px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* 아래쪽 정렬 */
  padding: 10px;
  color: white;
}

.story_box_link {
  color: white;
  /* 글씨 색 */
  text-decoration: none;
  /* 밑줄 제거 */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: px; */
  text-overflow: ellipsis;
}

.story_box_title {
  position: relative;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}

.story_box_content {
  position: relative;
  width: 300px;
  font-size: 12px;
  overflow: hidden;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: auto;
}

#mid {
  /* background-color: blue; */
  display: flex;
  height: 2800px;
  width: 100%;

}

#mid_left {
  /* background-color: blue; */
  width: 250px;
}

#mid_right {
  /* background-color: beige; */
}

#profile {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  bottom: 20px;
}


.comhome_post {
  width: 750px;
  height: 600px;
  background-color: white;

  border-top: 1px solid rgb(196, 196, 196);
  /* margin: 50px 0px 0px 270px; */
}

.comhome_post_profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 10px;
  /* margin: 10px 0px 0px 10px; */
  font-size: 14px;
}

.comhome_profile_image {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
}

.comhome_post_date {
  color: black;
  font-size: 13px;
}

.comhome_post_title {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin: 15px 0px 0px 10px;
  text-decoration: none;
}


.comhome_post_img {
  width: 700px;
  height: 450px;
  border-radius: 30px;
}

.comhome_react {
  display: flex;
  height: 30px;
}

.comhome_re {
  all: unset;
  appearance: none;
  cursor: pointer;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comhome_re_img {
  width: 20px;
  height: 20px;
}