#comhome_my_layout {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

/* 상위 스토리 영역 전체 */
#story {
  margin-left: 150px;
  height: 270px;
  width: 1000px;
}

#story_title {
  font-size: 18px;
  font-weight: 500;
}

/* 스토리 표현 영역 */
#story_container {
  position: relative;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.story_box {
  width: 210px;
  height: 170px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* 아래쪽 정렬 */
  padding: 10px;
  color: white;
}

/* 스토리 텍스트 */
.story_box_link {
  color: white;
  /* 글씨 색 */
  text-decoration: none;
  /* 밑줄 제거 */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: px; */
  text-overflow: ellipsis;
}

.story_box_title {
  position: relative;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}

.story_box_content {
  position: relative;
  width: 300px;
  font-size: 12px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: auto;
}

/* 본문 스크롤 영역 */
#comehome_mid {
  display: flex;
  flex-direction: column;
  height: 2800px;
  width: 100%;

}

#comehome_mid_title {
  font-size: 18px;
  font-weight: 500;
  padding-left: 250px;
}

#comehome_mid_body {
  display: flex;
  margin-top: 20px;
}

/* 좌측 빈 공간 */
#comehome_mid_left {
  width: 250px;
}

/* 우측 컨텐츠 영역 */
#comehome_mid_right {
  width: 750px;
}

/* 프로필 정보 영역 */
#profile {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  bottom: 20px;
}

/* 포스트 박스 */
.comhome_post {
  width: 650px;
  height: 600px;
  background-color: white;

  border-top: 1px solid rgb(196, 196, 196);
  /* margin: 50px 0px 0px 270px; */
}

/* 포스트 박스 프로필 영역 */
.comhome_post_profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 10px;
  /* margin: 10px 0px 0px 10px; */
  font-size: 14px;
}

/* 프로필 이미지 샘플은 회색 */
.comhome_profile_image {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
}

/* 포스트 날짜 글자  */
.comhome_post_date {
  color: black;
  font-size: 13px;
}

/* 포스트 제목 */
.comhome_post_title {
  font-size: 17px;
  font-weight: 600;
  color: black;
  margin: 15px 0px 0px 10px;
  text-decoration: none;
}

/* 포스트 이미지 */
.comhome_post_img {
  width: 650px;
  height: 450px;
  border-radius: 30px;
}

/* 좋아요, 댓글 전체 구간 */
.comhome_react {
  display: flex;
  height: 30px;
}

/* 좋아요 댓글 각각 */
.comhome_re {
  all: unset;
  appearance: none;
  cursor: pointer;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 좋아요, 댓글 이미지 */
.comhome_re_img {
  width: 20px;
  height: 20px;
}