 #myLayout {
   background-color: white;
   padding-left: 200px;
   padding-right: 200px;
   display: flex;
   flex-direction: column;
 }



 #posting {
   width: 70px;
   height: 30px;
   border: 0.5px solid black;
   border-radius: 10px;
   text-decoration: none;
   color: black;
   text-align: center;
   line-height: 30px;
   font-size: 18px;
   font-weight: 500;
   float: right;
 }

 #freeBoardLayout {
   display: flex;
   flex-direction: column;
   border: 1px solid #ccc;
   border-radius: 8px;
   overflow: hidden;

 }

 #freeBoardNav {
   display: grid;
   grid-template-columns: 80px 700px 120px 150px 100px 100px;
   font-weight: bold;
   padding: 10px 0;
   border-bottom: 2px solid #ccc;
   text-align: center;

 }

 #fb_nav_no {
   width: 40px;
   align-items: center;
   justify-content: center;

 }

 #fb_nav_title {
   width: 500px;
 }


 .List {
   display: grid;
   grid-template-columns: 80px 700px 120px 150px 100px 100px;
   /* 번호, 제목, 작성자, 날짜, 좋아요, 댓글 */
   text-align: center;
   padding: 10px 0;
   border-bottom: 1px solid #eee;
   margin: left 200px;
 }

 .Link {
   display: contents;
   text-decoration: none;
   color: inherit;

 }


 .free_title {
   text-align: left;
   font-weight: 500;
 }