 #myLayout {
     background-color: white;
     margin-left: auto;
     margin-right: auto;
 }

 #posting_box {
     width: auto;
     color: black;
     font-size: 20px;
     font-style: normal;
     font-weight: bold;
 }

 #postLayout {
     display: flex;
     height: 2800px;
 }

 #left {
     width: 1300px;
 }

 #posts {
     display: flex;
     flex-direction: column;
     gap: 5px;
 }

 .post {

     width: 750px;
     height: 555px;
     background-color: rgb(255, 255, 255);
     border-top: 1px solid grey;
     /* border-bottom: 1px solid gray; */
     margin: 50px 0px 0px 270px;
 }

 .post_profile {
     border-style: dotted;
     display: flex;
     font-size: 20px;
     align-items: center;
     /* 세로 중앙 정렬 */
     gap: 12px;
     /* 이미지와 텍스트 사이 간격 */
     margin: 10px 0px 0px 10px;
 }

 .p_i {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     border: 1px solid black;
 }

 .p_n {
     color: black;

 }

 .p_b {
     width: 60px;
     height: 25px;
     border-radius: 15px;
     background-color: navy;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 420px;
 }

 .post_title {
     font-size: 20px;
     margin: 15px 0px 0px 10px;

 }

 .post_img {
     width: 560px;
     height: 400px;
     margin: 10px 0px 0px 0px;
     border-radius: 10px;
 }

 .react {
     display: flex;
     gap: 1px;
 }

 .re {
     width: 60px;
     height: 20px;
     border-radius: 20px;
     font-size: 13px;
     color: white;
     background-color: gray;
     margin: 15px 0px 0px 10px;
     display: flex;
     align-items: center;
     justify-content: center;
 }